<!DOCTYPE html>
<html>
<head>
    <title>Catalog App</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa|Space+Mono" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"></script>
</head>
<body>
    <nav>
        <div class="header-title">
            <a href="{{url_for('main')}}">Catalog App</a>
            <a id="login-button" href="{{url_for('showLogin')}}">Login</a>
            <a href="{{url_for('gdisconnect')}}">Logout</a>
        </div>
        <!-- <a class="login-button" href="">Login</a> -->
        
    </nav>
    

    <div class="main">
        {%block content%}{%endblock%}    
    </div>
    

</body>
</html>