{%extends "base.html"%}{%block content%}
    <form method="post">
        <label>
            <div>
                Title
            </div>
            <input type="text" name="title" placeholder="Enter Title">
        </label>

        <label>
            <div>
                Description
            </div>
            <textarea name="description" placeholder="Enter Description here"></textarea> 
        </label>
        <label>
            <div>Category</div>
            <select name="category">
                {%for category in categories%}
                <option>{{category.category}}</option>
                {%endfor%}
            </select>
        </label>
        <input type="submit" value="Submit">
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li style="color:red"> <strong> {{ message }} </strong> </li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{%endblock%}