{%extends "base.html"%}{%block content%}
<!-- <div class="flask">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %} 
</div>
 -->

<div class="category-style">
    <h3>Categories</h3>
    {%for c in categories%}
    <div>
        <a href="{{url_for('catalog', category=c.category)}}">
            {{c.category}}
        </a>
    </div>
    {%endfor%}
</div>
<div class="items-style">
    <h3>Latest Items</h3>
    {%for item in items%}
    <div>
        <a href="{{url_for('items', category_id= item.category_id, item=item.item)}}">{{item.item}} ({{item.category_id}})</a>
    </div>
    {%endfor%}
    <a class="add-item-button" href="{{url_for('addItem')}}">Add Item</a>
</div>
    {%endblock%}